<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>날씨톡톡</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/weather.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/google-map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMkW0Hm5_R79zGAtqHk5gGz9iJ4jKp5EI&callback=initMap"></script>
</head>

<body>
    <section id="weatherInfo">
        <div class="border">

        </div>
        <div id="infoCover">
            <i class="fa fa-cloud" aria-hidden="true"></i>
            <ul id="weather-info">
                <h1>
                    <li id="info-city">지역</li>
                </h1>
                <li id="info-temp">온도 :°C </li>
                <li id="info-humi">습도 : %</li>
                <li id="info-angry">불쾌지수 : </li>
                <li id="info-dust">미세먼지 농도 : ㎍/㎥ </li>
            </ul>
        </div>
    </section>
    <section id="googleMap" style="height: 100vh">
    </section>
    <aside class="side-menu">
        <div id="search" class="border">
            <input type="text" id="search-input" name="city">
            <button type="submit" id="search-submit">검색</button>

            <ul id="result">
                <ul class="result-column">
                    <li>
                        <h4 id="seach-city">검색 결과</h4>
                    </li>
                    <li id="seach-temp"></li>
                    <li id="search-humi"></li>
                    <li id="search-angry"></li>
                    <li id="search-dust" </li>
                </ul>
            </ul>
        </div>
    </aside>
    <aside class="side-menu">
        <div class="border">
            <ul id="weather-ranking">
                <img src="../img/logo.png" alt="logo">
            </ul>
        </div>
    </aside>
</body>

</html>